* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
* {
  outline: none !important;
}

html {
        scroll-behavior: smooth 90%;
       /*Comenta la línea (o dale el valor 'auto' a scroll behavior )
       para probar la diferencia con y sin scroll suavizado*/
  
      }
/*body*/
.animation {
  
  width: 100vw;
  height: 90vh;
  
  
}

.container {
  width: 100%;
  text-align: center;
  background-color: #1c1937;
}

/* HEADER */

ul.navegar li {
  display: inline;
  padding-right: 0.5em;
}

/* main*/

img {
  justify-content: center;
  width: 40%;
  min-width: 8rem;
  max-width: 25rem;

  border-radius: 50px 30px 70px;
  /* estos son filtros de brillo, contraste y escala de grises */
  filter: brightness(90%) contrast(170%) grayscale(80%) hue-rotate(0deg)
    invert(0%) opacity(70%) saturate(120%) sepia(0%);
   box-shadow: 0 0 15px 3px #134d52;
}

img::after {
  opacity: 1;
}

/* SOBRE MI */


/* -- SECCIONES ROW -- */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  background-color: #1d1a37 ;
  color: rgb(255, 255, 255, 80%);
  text-align: center;
  font-size: 20px;
  box-shadow: 0 0 15px 3px hsl(185, 62%, 5%);
  border: 10px  hsl(0, 0%, 0%, 50%) ;

 
}

#uno {
  background: #68264e ;
  width: 100vw;
  height: 100vh;
  
}
#dos {
  margin-top: 0px;
  background-color: #566639;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#tres {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #9a5664;
  width: 100vw;
  height: 100vh;
}
#cuatro {
  background-color: #cd9fa2;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; 
  background: -webkit-linear-gradient(#9a5664,#1c1937);
  background: -moz-linear-gradient(#9a5664, #1c1937);
  background: -o-linear-gradient(#9a5664, #1c1937);
  background: linear-gradient(#9a5664, #1c1937);
  
}
#cinco {
  background-color: #1d1a37;
  
  width: 100vw;
  height: 100vh;
}
/* -- SECCIONES ROW -- */

/* -- VIDEOS FONDO -- */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: opacity(35%);
}

/* -- VIDEOS FONDO -- */

/* -- LINKS --*/

a {
  background-color: transparent;
  border: 2px solid;
  border-radius: 8px;
  margin: 10px;
  font-weight: lighter;
  font-size: 1.4rem;
  text-decoration: none !important;
  color: white !important ;
}


/* -- PROPIEDADES BUTTON -- */
.button {
  border-color: hsl(90, 34%, 42%, 0%);
  transition: box-shadow 0.4s ease-in-out;
}
.btn {
  background-color: transparent;
  border-radius: 50px solid;
}

.button:hover {
 
  color: hsl(348, 28%, 47%, 70%) !important ;
}

#boton {
  font-size: 25px;
}
/* -- PROPIEDADES BUTTON -- */

/* -- botones color fondo -- */
#boton_color0 {
  background-color: #ffffff;
  font-size: 8px;
  filter: opacity(60%);
}
#boton_color {
  background-color: #719c46;
  font-size: 8px;
  filter: opacity(60%);
}

#boton_color1 {
  background-color: #000000;
  font-size: 8px;
  filter: opacity(60%);
}
#boton_color2 {
  background-color: #ff8c00;
  font-size: 8px;
  filter: opacity(60%);
}
#boton_color3 {
  background-color: #2f4f4f;
  font-size: 8px;
  filter: opacity(60%);
}
/* -- botones color fondo -- */

/*--font-- */

#font {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
.fontblack {
  font-size: 30px;
  font-family: "Merriweather", serif;
  font-family: "Quicksand", sans-serif;
  color: hsla(262, 42%, 10%, 0.801);
}
.fontMerri {
  font-family: "Merriweather", serif;
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
}
.m {
  font-size: 30px;
}
.nombre {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
 
  text-align: center;
}
.luis {
   font-size: 37px;
}

.h{
 color: rgb(236, 236, 236);


}
/*--font-- */

.exp {
  display: flex;
  justify-content: center;
  background-color: hsl(246, 36%, 16%, 10%);
}
.exp1 {
  display: flex;
  justify-content: center;
  background-color: hsla(29, 96%, 55%, 0.1);
}
.exp2 {
  display: flex;
  justify-content: center;
  background-color: hsla(342, 100%, 28%, 0.1);
}

.bor {
  background-color:  hsl(0, 0%, 100%, 10%);
  border-radius: 3%;
  border: 12px solid hsl(0, 0%, 100%, 1%);
}

/*barra navegacion*/

ul {
 
  list-style: none;
  font-size: 10px;
}

li {
  list-style: none;
  font-size: 20px;

}

@keyframes fade-inout {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

/*secciones */
