* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
* {
  outline: none !important;
}



html {
        scroll-behavior: smooth 90%;
       /*Comenta la línea (o dale el valor 'auto' a scroll behavior )
       para probar la diferencia con y sin scroll suavizado*/
  
      }

      /* precarga*/
.containerr {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  filter: opacity(90%);
}

.typewriter {
  filter: opacity(80%);
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(92, 12, 72); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3s ,
    blink-caret .5s ease-in-out ;
  animation-fill-mode: forwards; /* Keeps the cursor at the last position */
}  

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}

.delayed-appear {
  opacity: 0;
  animation: appear 3s ease-in forwards;
}

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking {  
  animation: blink 1.5s infinite;
}

@keyframes blink {
  50% { opacity: 0 ; }
}

.button1 {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #3c2b6b;
  border: none;
  border-radius: 10px;
  filter: opacity(70%);
  cursor: pointer;
  transition: background-color 0.9s;
}

.button1:hover {
  background-color: #ff8c00;
}

.progress-bar {
  width: 100%;
  height: 10px;
  margin-top: 30px;
  background: linear-gradient(to right, transparent 0%, transparent 10%, rgb(0,0,0) 10%, rgb(0,0,0) 90%, transparent 90%, transparent 100%);
  position: relative;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent, rgba(75, 12, 49, 0.8), rgba(75, 12, 49, 0.8), transparent);
  animation: progress 3s ease-in-out;
}

@keyframes progress {
  0% { width: 0%; }
  100% { width: 100%; }
}

.container {
  width: 100%;
  
  background-color: #1c1937;
}

/* HEADER */

ul.navegar li {
  display: inline;
  padding-right: 0.5em;
}

/* main*/

img {
  justify-content: center;
  width: 40%;
  min-width: 8rem;
  max-width: 25rem;

  border-radius: 50px 30px 70px;
  /* estos son filtros de brillo, contraste y escala de grises */
  filter: brightness(90%) contrast(170%) grayscale(80%) hue-rotate(0deg)
    invert(0%) opacity(70%) saturate(120%) sepia(0%);
   box-shadow: 0 0 15px 3px #134d52;
}
body{
  filter: opacity(90%) sepia(9%) saturate(98%);
          
}

img::after {
  opacity: 1;
}

/* SOBRE MI */


/* -- SECCIONES ROW -- */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  background-color: #1d1a37 ;
  color: rgb(255, 255, 255, 80%);
  text-align: center;
  font-size: 20px;
  box-shadow: 0 0 15px 3px hsl(185, 62%, 5%);
  border: 10px  hsl(0, 0%, 0%, 50%) ;

 
}

#uno {
  background: #68264e ;
  width: 100vw;
  height: 100vh;
  
}
#dos {
  margin-top: 0px;
  background-color: #566639;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#tres {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #9a5664;
  width: 100vw;
  height: 100vh;
 
}
#cuatro {
 
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; 
  background:  hsl(246, 38%, 16%,90%) ;
  border:  50px solid #100f1a;
  
  
  
}
#cinco {
  background-color: #1d1a37;
  
  width: 100vw;
  height: 100vh;
}
/* -- SECCIONES ROW -- */

/* -- VIDEOS FONDO -- */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: opacity(35%);
}

/* -- VIDEOS FONDO -- */

/* -- LINKS --*/

a {
  background-color: transparent;
  border: 2px solid;
  border-radius: 8px;
  margin: 10px;
  font-weight: lighter;
  font-size: 1.4rem;
  text-decoration: none !important;
  color: white !important ;
}


/* -- PROPIEDADES BUTTON -- */
.button {
  border-color: hsl(90, 34%, 42%, 0%);
  transition: box-shadow 0.4s ease-in-out;
}
.btn {
  background-color: transparent;
  border-radius: 50px solid;
}

.button:hover {
 
  color: hsl(348, 28%, 47%, 70%) !important ;
}

#boton {
  font-size: 25px;
}
/* -- PROPIEDADES BUTTON -- */

/* -- botones color fondo -- */
#boton_color0 {
  background-color: #ffffff;
  font-size: 8px;
  filter: opacity(60%);
}
#boton_color {
  background-color: #719c46;
  font-size: 8px;
  filter: opacity(60%);
}

#boton_color1 {
  background-color: #000000;
  font-size: 8px;
  filter: opacity(60%);
}
#boton_color2 {
  background-color: #ff8c00;
  font-size: 8px;
  filter: opacity(60%);
}
#boton_color3 {
  background-color: #2f4f4f;
  font-size: 8px;
  filter: opacity(60%);
}
/* -- botones color fondo -- */

/*--font-- */

#font {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
.fontblack {
  font-size: 30px;
  font-family: "Merriweather", serif;
  font-family: "Quicksand", sans-serif;
  color: hsla(262, 42%, 10%, 0.801);
}
.fontMerri {
  font-family: "Merriweather", serif;
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
}
.m {
  font-size: 30px;
}
.nombre {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
 
  text-align: center;
}
.luis {
   font-size: 37px;
}

.h{
 color: rgb(236, 236, 236);


}
/*--font-- */

.exp {
  display: flex;
  justify-content: center;
  background-color: hsl(246, 36%, 16%, 10%);
}
.exp1 {
  display: flex;
  justify-content: center;
  background-color: hsla(29, 96%, 55%, 0.1);
}
.exp2 {
  display: flex;
  justify-content: center;
  background-color: hsla(342, 100%, 28%, 0.1);
}

.bor {
  background-color:  hsl(0, 0%, 100%, 10%);
  border-radius: 3%;
  border: 12px solid hsl(0, 0%, 100%, 1%);
}

/*barra navegacion*/

ul {
 
  list-style: none;
  font-size: 10px;
}


li {
  list-style: none;
  font-size: 20px;

}

@keyframes fade-inout {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

/*secciones */

.contact-section {
  background-color: #3c2b6b;
}

#contact {
  height: 100vh;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 30px;
  font-size: 1.2rem;
  background-color: #3c2b6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #6d4c41;
}

.chatbot {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 350px;
  max-height: 500px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0);
}

.form-control:focus {
  border-color: #3c2b6b;
  box-shadow: 0 0 0 0.2rem rgba(60, 43, 107, 0.25);
}